/* all pages */

* {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  background-color: bisque;
  text-align: center;
  /* TODO:
    REMOVE
    BORDER 
  */
  /* border: 1px solid red; */
}



/* index.html */


#index-header {
    font-size: 10vh;
    font-weight: 900;
    color: rgb(2, 59, 2);
}

.recipe-list {
    list-style: none;
    font-size: 3vh;
    padding: 0;
}

.recipe-list li {
    padding: 1em;
}

.recipe-link {
    text-decoration: none;
}


/* recipies */